@import "base.scss";
@import "linux-servers.scss";
@import "linux-settings.scss";

:root {
  --button-border-color: #cacaca;
  --button-background: #ffffff;
  --button-background-gradient-start: #efeeed;
  --button-on-background: #faae91;
  --button-on-background-gradient-start: #f49572;

  @media (prefers-color-scheme: dark) {
    --button-border-color: #000000;
    --button-background: #4a4a4a;
    --button-background-gradient-start: #3a3a3a;
    --button-on-background: #ba6e51;
    --button-on-background-gradient-start: #b45532;
  }
}

// === HOP BUTTONS ===
div.hopButtons {
  @extend .hopButtonsBase;
}
button.hopButton {
  @extend .hopButtonBase;
}
button.hopButtonActive {
  @extend .hopButtonActiveBase;
}
div.hopButtonsSeparator {
  @extend .hopButtonActiveBase;
}

// === INPUT ===
input.styled {
  @extend .styledBase;
  height: 27px;

  border: 1px solid var(--input-border-color);
  box-sizing: border-box;

  border-radius: 4px;
}
input.styled::placeholder {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.208px;

  color: #6d849a;
}
input.styledBig {
  @extend .styled;
}

// === BUTTONS ===
button.master {
  width: 100%;
  height: 28px;

  background: linear-gradient(0deg, #f49572 0%, #faae91 100%), #ffffff;
  border: 1px solid var(--button-border-color);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 15px;
  line-height: 17px;
  color: #ffffff;

  cursor: pointer;
}
button.slave {
  @extend .master;
  background: linear-gradient(0deg, #efeeed 0%, #ffffff 100%), #ffffff;
  color: #4c4c4c;
}
